body {
    width: 550px;
    margin: 0 auto;
}

header {
    height: 35px;
    display: flex;
    justify-content: space-between;
}

.card, .articl, .number {
    display: inline-block;
    color: grey;
    font-family: Arial, sans-serif;
    margin: 10px 0 0 0;
}

.articl {
    margin-right: 30px;
}

.number {
    color: black;
    font-weight: bold;
}

.sale {
    width: 60px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.6);
    color: white;
    position: absolute;
    padding: 15px 5px;
    font-family: Arial, sans-serif;
    margin: -30px 0 0 5px;
}

main {
    text-align: center;
    border: 1px solid gray;
    padding: 30px;
}

h1 {
    display: inline-block;
    font-family: Arial, sans-serif;
    color: dodgerblue;
    border-bottom: solid dodgerblue;
}

.product {
    display: flex;
    justify-content: space-between;
}

.phone {
    height: 240px;
}

.pictures img {
    height: 60px;
}

.pictures {
    display: flex;
    justify-content: space-around;
}

.slider {
    width: 50%;
}

.images {
    width: 175px;
    margin: 0 auto;
}

.charactiristic {
    width: 50%;
    display: inline-block;
    text-align: left;
    font-family: Arial, sans-serif;
}

h3 {
    font-weight: bold;
    text-align: left;
    font-size: 15px;
    color: black;
    border-bottom: solid rgb(73, 73, 73);
}

ul {
    padding: 0;
}

li {
    font-size: 10px;
    list-style: none;
}

.displey {
    margin: 0 0 30px 0;
}

.description {
    display: inline-block;
    text-align: left;
    font-family: Arial, sans-serif;
    margin: 0 0 0 30px;
}

p {
    font-size: 10px;
}

footer {
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 15px;
}
